.page {
    height: 150vh;

    .cover {
        position: absolute;
        top: 0;
        border-radius: 0 0 15px 15px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0));
        
        .back {
            position: fixed;
            left: 8%;
            top: 3%;
            background-color: transparent;
            width: auto;
            border-radius: 20px;
            border: 2px solid $white;
            color: $white;
            cursor: pointer;
            padding: .5em 1em;
            padding-left: 2.5em;
            z-index: 999;
            font-size: .8em;
    
            svg {
                height: 60%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0,-50%);
                margin-left: .5em;
            }
        }
    
        img {
            height: 80vh;
            object-fit: cover;
            object-position: top center;
            border-radius: 0 0 15px 15px;
            z-index: -1;
        }
    }
    
    .information {
        position: absolute;
        top: 90%;
    
        .about {
            .storyline {
                margin: 1em 0;
                p {
                    color: $white;
                    padding: 1em;
                }
            }
    
            .cast {
                margin-bottom: 4em;

                @media screen and (min-width: 768px) {
                    justify-content: flex-start !important;
                }
    
                figure {
                    margin: .5em 0;
                    img {
                        width: 5em;
                        height: 5em;
                        border-radius: 50%;
                        object-fit: cover;

                        @media screen and (max-width: 768px) {
                            width: 4em;
                            height: 4em;
                        }
                    }
    
                    figcaption {
                        color: $white;
                        padding: .5em;
                        text-align: center;

                        @media screen and (max-width: 768px) {
                            font-size: .9em;
                        }
                    }
                }
            }
        }
    
        .options {
            position: relative;
    
            img {
                height: 20em;
                border-radius: 15px;
                object-fit: cover;
            }
    
            .details {
                h2 {
                    @media screen and (max-width: 768px) {
                        justify-content: center !important;
                    }
                }

                h5 {
                    padding: .5em 2.5em;
                    justify-content: flex-start !important;
                }

                div {
                    justify-content: flex-start !important;
                    padding: 2em 2.5em;

                    a {
                        text-align: center;
                        color: $white;
                        font-size: 1.5em;
                        padding: 0;
                        height: 2em;
                        line-height: 2em;
                        display: block;
                        border-radius: 15px;
                        background-color: darken($color: $danger, $amount: 5);
                        transition: all ease-in-out .2s;
            
                        &:hover {
                            background-color: darken($color: $danger, $amount: 10);
                        }
                    }
                }
            }
        }
    }
}